{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class = "container">
        <div class="row mb-3">
            <div>
                <form>
                    <div class="mb-3">
                        <textarea class="form-control" name="text" rows="3" placeholder ="What's happening?"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">KESIS</button>
                    <div>
                        <select>
                            {%for group in users_groups%}
                                    {%for name in group["group_name"]%}
                                        <option>
                                            {{name}}
                                        </option>
                                    {%endfor%}
                            {%endfor%}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class="row mb-3">
            <div class="col-6">
                    <div>

                    </div>
            </div>
        </div>
    </div>



{% endblock %}
