{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class = "container">
        <div class="row mb-3">
            <div>
                <form>
                    <div class="mb-3">
                        <textarea class="form-control" name="text" rows="3" placeholder ="What's happening?"></textarea>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">KESIS</button>
                    </div>
                    <div class="mb-3">
                        <label class = "mb-3 lead text-center">Choose the group that you want to share:</label>
                        <select class="form-select form-select-sm mb-3">
                            <option selected>Choose!</option>
                            {%for group in users_groups%}
                                    <option>
                                        {{group["group_name"]}}
                                    </option>
                            {%endfor%}
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class="row mb-3">
            <div class="col-6">
                    <div>

                    </div>
            </div>
        </div>
    </div>



{% endblock %}
