{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/groups" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Group Id" type="text">
        </div>
        <div class="form-group">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Group Password" type="password">
        </div>
        <button type="submit" class="btn btn-primary" type="submit">Log In</button>
    </form>



{% endblock %}
