{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class = "container">
        <h1 class = "display-2 align-middle"> {{group_name}} </h1>
        {% for post in users_posts %}
            <div class="container">
                <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{post["username"]}} </h5>
                        <p class="font-italic">from {{post["group_name"]}}</p>
                        <p class="card-text">{{post["content"]}}</p>
                        <p class="card-text"><small class="text-muted">{{post["date"]}}</small></p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
