{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container align-middle">
    <div class = "row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/find-my-friend.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Discover</h5>
                  <p class="card-text">Go and find new groups!</p>
                  <a href="/groups" class="btn btn-primary">GO</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/searching.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Profile</h5>
                  <p class="card-text">Have a look to your communities!</p>
                  <a href="/profile" class="btn btn-primary">GO</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/static/reading.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Feed</h5>
                  <p class="card-text">What your friends shared today? </p>
                  <a href="/feed" class="btn btn-primary">GO</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
