{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div  class = "post" class="w-25 p-3 justify-content-center" style="background-color: #cce8fc; >
        <h2 class="username">Username</h2>
        <p class="content">This is the post content.</p>
        <p class="time">11/21/2023</p>
    </div>


{% endblock %}

CREATE TABLE groups (
group_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
group_name TEXT NOT NULL,
group_pass TEXT NOT NULL);

CREATE TABLE posts (
post_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
group_name TEXT NOT NULL,
FOREIGN KEY (user_id) REFERENCES users(id) NOT NULL,
FOREIGN KEY (group_id) REFERENCES groups(group_id) NOT NULL);

CREATE TABLE users (
id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
username TEXT NOT NULL,
hash TEXT NOT NULL,
birthday DATE NOT NULL);