form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
 }

 .form-group {
    margin-bottom: 15px;
 }

 .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 }

 .btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
 }
 body {
    font-family: Arial, sans-serif;
 }

 .navbar {
    background-color: #f8f9fa;
 }

 .navbar-brand {
    color: #6c757d;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    margin-left: 30px;
 }

 .nav-link {
    color: #6c757d;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    margin-left: 15px;
 }

 .nav-link:hover {
    color: #007bff;
 }

 .container-fluid {
    padding: 20px;
 }

 footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #6c757d;
    text-align: center;
 }

 .league
 {
    font-family: "League Spartan";
 }

 .post {
   max-width: 1200px;
   border: 1px solid #ccc;
  }

  .username {
   font-size: 20px;
   color: #333;
  }

  .content {
   font-size: 16px;
   color: #666;
  }

  .time {
   font-size: 14px;
   color: #999;
  }

  .align-middle {
   display: flex;
   align-items: center;
   justify-content: center;
}